.authform {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.14);
  max-width: 340px;
  margin: auto;
  padding: 30px;
  min-height: 450px;
  width: 100%;

  &-head {
    padding: 20px 0;
    margin-bottom: 20px;
  }

  &-title {
    color: #1e1e1e;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }

  &-body {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
  }
}
