<div class="stub">
  {{#if title}}
    <div class="stub-title">
      {{title}}
    </div>
  {{/if}}
  {{#if descr}}
    <div class="stub-descr">
      {{descr}}
    </div>
  {{/if}}
  {{#if btnLabel}}
    <div class="stub-action">
      {{{NavButton label=btnLabel page=page }}}
    </div>
  {{/if}}
</div>
