<div class="stub">
  {{#if title}} <div class="stub-title">
    {{title}}
  </div>
  {{/if}}
  {{#if descr}}
  <div class="stub-descr">
    {{descr}}
  </div>
  {{/if}}
  {{#if link}} <div class="stub-action">
    {{> ui/link/link label=link href=href }}
  </div>
  {{/if}}
</div>
