{{#Form onSubmit=onSubmit }}
  <div class="popup-title">Create a new chat</div>
  <div class="popup-descr">
    {{{Input name='title'}}}
  </div>
  {{{Button label="Create" type='submit'}}}
{{/Form}}
