<div class="chats">
  <div class="chats-left">
    {{> layout/chats/head}}

    {{> blocks/chatItem/chatItem}}
    {{> blocks/chatItem/chatItem}}
    {{> blocks/chatItem/chatItem}}
    {{> blocks/chatItem/chatItem}}
    {{> blocks/chatItem/chatItem}}
    {{> blocks/chatItem/chatItem}}
  </div>
  <div class="chats-right">
    {{> @partial-block }}
  </div>
</div>
