<nav class="nav">
  <ul class="nav-list">
    {{!-- <li class="nav-item"><a class="nav-link" href="/">Главная</a></li> --}}
    <li class="nav-item"><a class="nav-link" href="/pages/login.html">Login</a></li>
    <li class="nav-item"><a class="nav-link" href="/pages/join.html">Create account</a></li>
    <li class="nav-item"><a class="nav-link" href="/pages/chats.html">Chats</a></li>
    <li class="nav-item"><a class="nav-link" href="/pages/profile.html">Profile</a></li>
    <li class="nav-item"><a class="nav-link" href="/pages/edit-profile.html">Edit profile</a></li>
    <li class="nav-item"><a class="nav-link" href="/pages/change-password.html">Change-password</a></li>

    <li class="nav-item"><a class="nav-link" href="/pages/404.html">404</a></li>
    <li class="nav-item"><a class="nav-link" href="/pages/500.html">500</a></li>
    <li class="nav-item"><a class="nav-link" href="/pages/popup.html">Popup</a></li>
  </ul>
</nav>
