.chatItem {
  padding: 0 12px;

  &--selected {
    background-color: rgba(234, 234, 234, 0.4);
  }

  &-inner {
    border-width: 1px 0;
    border-color: var(--border);
    border-style: solid;
    padding: 12px 0;
    display: flex;
  }

  &-left {
    margin-right: 10px;
    flex-shrink: 0;
  }

  &-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--border);
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  &-middle {
    flex: 1;
  }

  &-name {
    color: var(--paper);
    font-size: 13px;
    font-weight: 600;
    line-height: 13px;
    margin-bottom: 4px;
  }

  &-last {
    color: var(--gray);
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
  }

  &-right {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &-time {
    color: var(--label-collor);
    text-align: right;
    font-size: 9px;
    font-weight: 500;
    line-height: 13px;
    margin-bottom: 14px;
  }

  &-count {
    min-width: 20px;
    height: 20px;
    line-height: 20px;
    flex-shrink: 0;
    background-color: var(--primary);
    border-radius: 10px;
    color: var(--white);
    text-align: center;
    font-size: 11px;
    font-weight: 500;
  }
}
