<div class="field">
  <div class="field-label">{{label}}</div>
  <div class="field-input">
    {{>ui/input/input placeholder=placeholder }}
  </div>
  <div class="field-error">{{errorMessage}}</div>
</div>
