<div class="chats-head">
  <div class="chats-actions">
    <div class="chats-add">
      <button type="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
          <g clip-path="url(#clip0_46758_57)">
            <path
              d="M9.46875 0C12.6523 0 15.2344 2.56641 15.2344 5.73438C15.2344 7.48047 14.4492 9.04297 13.2148 10.0937C13.4844 10.2266 13.7305 10.3633 13.9531 10.4961C14.4297 10.7852 14.9258 11.1445 15.4414 11.5742C15.7344 11.8164 15.7734 12.2539 15.5273 12.543C15.2812 12.8359 14.8477 12.8711 14.5547 12.6289C14.0898 12.2422 13.6484 11.9219 13.2305 11.668C12.8555 11.4414 12.3867 11.2031 11.8242 10.9648C11.1016 11.2852 10.3047 11.4648 9.46875 11.4648C8.53906 11.4648 7.66406 11.2461 6.88671 10.8594L6.84375 10.8789C4.89453 11.6367 3.46875 12.7539 2.55078 14.2383C1.6289 15.7266 1.2539 17.3906 1.42187 19.2539C1.45703 19.6328 1.17578 19.9687 0.792965 20C0.414058 20.0352 0.0742147 19.7539 0.0429647 19.375C-0.152348 17.2227 0.292965 15.2617 1.375 13.5156C2.32421 11.9805 3.72265 10.7852 5.55078 9.93359C4.41406 8.88672 3.70312 7.39062 3.70312 5.73047C3.70312 2.56641 6.28515 0 9.46875 0ZM16.8672 12.6914C17.2461 12.6914 17.5547 13 17.5547 13.3828V15.1367H19.3086C19.6914 15.1367 20 15.4453 20 15.8242C20 16.2031 19.6914 16.5117 19.3086 16.5117H17.5547V18.2656C17.5547 18.6484 17.2461 18.957 16.8672 18.957C16.4883 18.957 16.1797 18.6484 16.1797 18.2656V16.5117H14.4258C14.043 16.5117 13.7344 16.2031 13.7344 15.8242C13.7344 15.4453 14.043 15.1367 14.4258 15.1367H16.1797V13.3828C16.1797 13.0039 16.4883 12.6914 16.8672 12.6914ZM9.46875 1.375C7.05078 1.375 5.08593 3.32422 5.08593 5.73047C5.08593 8.13672 7.04687 10.0859 9.46875 10.0859C11.8906 10.0859 13.8516 8.13672 13.8516 5.73047C13.8477 3.32812 11.8867 1.375 9.46875 1.375Z"
              fill="#3369F3" />
          </g>
          <defs>
            <clipPath id="clip0_46758_57">
              <rect width="20" height="20" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </button>
    </div>
    <div class="chats-profile">
      {{{NavButton label="Sign in" page='profile'}}}
    </div>
  </div>
  <div class="chats-search">
    {{{Input placeholder='Search'}}}
  </div>
</div>
