{{#Form onSubmit=onSubmit }}
  <div class="popup-title">Change avatar</div>
  <div class="popup-descr">
    {{{InputFile label='Select a file on your computer' name='avatar'}}}
  </div>
  {{{Button label="Change" type='submit'}}}
{{/Form}}
