.inputFile {
  color: #3369f3;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-decoration-line: underline;
  margin-bottom: 20px;

  input {
    display: none;
  }
}
