<div class="fieldProfile">
  <div class="fieldProfile-label">{{label}}</div>
  <div class="fieldProfile-input">
    {{>ui/input/input placeholder=placeholder readonly=readonly name=name }}
  </div>
  <div class="fieldProfile-error">{{errorMessage}}</div>
</div>
