.button {
  border-radius: 8px;
  background: #3369f3;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  padding: 12px;
  box-shadow: none;
  border: 0;
  min-width: 280px;
}
