{{#Form onSubmit=onSubmit }}
  <div class="popup-title">Upload file</div>
  <div class="popup-descr">
    {{{InputFile label='Select a file on your computer' name='avatar'}}}
  </div>
  {{{Button label="Save" type='submit'}}}
{{/Form}}
