<div class="chatItem">
  <div class="chatItem-inner">
    <div class="chatItem-left">
      <div class="chatItem-avatar"></div>
    </div>
    <div class="chatItem-middle">
      <div class="chatItem-name">Andry</div>
      <div class="chatItem-last">Friends, I have a special news release for you!...</div>
    </div>
    <div class="chatItem-right">
      <div class="chatItem-time">15:12</div>
      <div class="chatItem-count">4</div>
    </div>
  </div>
</div>
