<div class="chatItem">
  <div class="chatItem-inner">
    <div class="chatItem-left">
      <div class="chatItem-avatar"></div>
    </div>
    <div class="chatItem-middle">
      <div class="chatItem-name">Андрей</div>
      <div class="chatItem-last">Друзья, у меня для вас особенный выпуск новостей!...</div>
    </div>
    <div class="chatItem-right">
      <div class="chatItem-time">15:12</div>
      <div class="chatItem-count">4</div>
    </div>
  </div>
</div>
